.clock {
    display: flex;
    position: relative;
    border-radius: 50%;
    line-height: 0;
    aspect-ratio: 1 / 1;
    width: 100%;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}